---
import { type Ship } from "../data/_base";
import ShipIcon from "./ShipIcon.astro";
import Icon from "./Icon.astro";

interface Props {
  ships: Ship[];
}

const { ships } = Astro.props;
---

<div id="container">
  <ul class="ships">
    {
      ships.map((ship) => (
        <li class="ship">
          <ShipIcon shipClass={ship.class} />
          {ship.name}

            <span class="faction-type">
              {ship.icons.map((type) => (
                <Icon icon={type} />
              ))}
            </span>
          </>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .faction-type {
    position: relative;
    top: 8px;
  }
</style>
